Repository leanprover/lean-pr-releases, changes with the owners that CODEOWNERS names for each.
All owners: @Kha, @semorrison, @leodemoura, @joehendrix, @tydeu, @mhuisi

fix: use `Name.appendCore` instead of `Name.append` in `unresolveNameGlobal`
  src/Lean/ResolveName.lean
  tests/lean/run/2291.lean
Owners: @leodemoura, @Kha

update docstring for Lean.Name.Append
  src/Init/Prelude.lean
Owners: @leodemoura, @Kha

fix: accidental ownership with specialization
  src/Lean/Compiler/IR/Basic.lean
  src/Lean/Compiler/IR/Borrow.lean
  tests/lean/4240.lean
  tests/lean/4240.lean.expected.out
Owners: @leodemoura

chore: temporarily avoid building Lake
  src/CMakeLists.txt
Owners: @leodemoura, @Kha

chore: build Lake again
  src/CMakeLists.txt
Owners: @leodemoura, @Kha

Fix typo and incorrect name
  src/Init/Tactics.lean
Owners: @leodemoura, @Kha

fix: interrupt exception was swallowed by some `tryCatchRuntimeEx` uses
  src/Lean/CoreM.lean
  src/Lean/Elab/Command.lean
  src/Lean/Elab/Util.lean
  tests/lean/interactive/incrementalCommand.lean
  tests/lean/interactive/incrementalCommand.lean.expected.out
Owners: @leodemoura, @Kha

feat: new `variable` command
  src/Lean/Elab/BuiltinCommand.lean
  src/Lean/Elab/Command.lean
  src/Lean/Elab/MutualDef.lean
  src/Lean/Parser/Command.lean
  stage0/src/stdlib_flags.h
  tests/lean/run/calc.lean
Owners: @leodemoura, @Kha

warn on unused included variable
  src/Lean/Elab/MutualDef.lean
Owners: @leodemoura, @Kha

adjust test
  tests/lean/run/3807.lean
Owners: none

include TC variables if mentioning only included vars
  src/Lean/Elab/MutualDef.lean
Owners: @leodemoura, @Kha

chore: adapt stdlib to new `variable` behavior
  src/Init/Data/List/Erase.lean
  src/Init/WF.lean
  src/Std/Data/DHashMap/Internal/RawLemmas.lean
  src/Std/Data/DHashMap/RawLemmas.lean
  src/Std/Data/HashMap/RawLemmas.lean
  src/Std/Data/HashSet/Lemmas.lean
  src/Std/Data/HashSet/RawLemmas.lean
Owners: @leodemoura, @Kha

chore: update stage0
  stage0/src/kernel/declaration.h
  stage0/src/kernel/expr.h
  stage0/src/kernel/level.h
  stage0/src/kernel/local_ctx.h
  stage0/src/kernel/replace_fn.cpp
  stage0/src/library/compiler/specialize.cpp
  stage0/src/library/projection.h
  stage0/src/runtime/array_ref.h
  stage0/src/runtime/list_ref.h
  stage0/src/runtime/option_ref.h
  stage0/src/runtime/optional.h
  stage0/src/runtime/string_ref.h
  stage0/src/stdlib_flags.h
  stage0/src/util/kvmap.h
  stage0/src/util/name.h
  stage0/src/util/nat.h
  stage0/src/util/shell.cpp
  stage0/stdlib/Init/Data/BitVec/Basic.c
  stage0/stdlib/Init/Data/BitVec/Lemmas.c
  stage0/stdlib/Init/Data/Int/Basic.c
  stage0/stdlib/Lake/Build/Module.c
  stage0/stdlib/Lean/Compiler/CSimpAttr.c
  stage0/stdlib/Lean/Elab/BuiltinCommand.c
  stage0/stdlib/Lean/Elab/Command.c
  stage0/stdlib/Lean/Elab/Frontend.c
  stage0/stdlib/Lean/Elab/Import.c
  stage0/stdlib/Lean/Elab/Inductive.c
  stage0/stdlib/Lean/Elab/MutualDef.c
  stage0/stdlib/Lean/Environment.c
  stage0/stdlib/Lean/Linter/MissingDocs.c
  stage0/stdlib/Lean/Meta/Tactic/LinearArith/Solver.c
  stage0/stdlib/Lean/Parser/Command.c
  stage0/stdlib/Lean/Server/References.c
  stage0/stdlib/Lean/Util/Path.c
Owners: none

start tests
  tests/lean/run/variable.lean
Owners: none

fix traversal order bug
  src/Lean/Elab/MutualDef.lean
  tests/lean/run/variable.lean
Owners: @leodemoura, @Kha

one more test case
  tests/lean/run/variable.lean
Owners: none

missing LEAN_EXPORTs
  src/kernel/environment.cpp
  src/kernel/init_module.cpp
  src/library/compiler/init_module.cpp
  src/library/compiler/ir.cpp
  src/library/compiler/ir_interpreter.cpp
  src/library/constructions/init_module.cpp
  src/library/init_module.cpp
  src/library/module.cpp
  src/library/print.cpp
  src/library/profiling.cpp
  src/library/time_task.cpp
  src/library/util.cpp
  src/util/kvmap.cpp
  src/util/name.cpp
  src/util/option_declarations.cpp
  src/util/options.cpp
  src/util/options.h
  src/util/path.cpp
Owners: @leodemoura, @Kha

`friend` is not my friend
  src/util/name.h
Owners: @leodemoura, @Kha

Revert "missing LEAN_EXPORTs"
  src/kernel/environment.cpp
  src/kernel/init_module.cpp
  src/library/compiler/init_module.cpp
  src/library/compiler/ir.cpp
  src/library/compiler/ir_interpreter.cpp
  src/library/constructions/init_module.cpp
  src/library/init_module.cpp
  src/library/module.cpp
  src/library/print.cpp
  src/library/profiling.cpp
  src/library/time_task.cpp
  src/library/util.cpp
  src/util/kvmap.cpp
  src/util/name.cpp
  src/util/option_declarations.cpp
  src/util/options.cpp
  src/util/options.h
  src/util/path.cpp
Owners: @leodemoura, @Kha

fix?
  src/stdlib.make.in
Owners: @leodemoura, @Kha

missing dep
  src/shell/CMakeLists.txt
Owners: @leodemoura, @Kha

fix
  src/shell/CMakeLists.txt
  src/stdlib.make.in
  src/util/CMakeLists.txt
Owners: @leodemoura, @Kha

more missing includes
  src/util/init_module.cpp
  src/util/init_module.h
Owners: @leodemoura, @Kha

more missing includes
  src/library/compiler/init_module.h
  src/library/constructions/init_module.h
Owners: @leodemoura, @Kha

fix other platforms
  src/stdlib.make.in
Owners: @leodemoura, @Kha

more missing includes
  src/kernel/init_module.h
  src/library/init_module.h
Owners: @leodemoura, @Kha

fix: split libleanshared on Windows to avoid symbol limit
  src/CMakeLists.txt
  src/stdlib.make.in
Owners: @leodemoura, @Kha

progress
  src/CMakeLists.txt
  src/lean.mk.in
  src/shell/CMakeLists.txt
  src/stdlib.make.in
  src/util/CMakeLists.txt
  src/util/ffi.cpp
Owners: @leodemoura, @Kha

missing includes
  src/kernel/init_module.cpp
  src/library/compiler/init_module.cpp
  src/library/compiler/ir_interpreter.cpp
  src/library/constructions/init_module.cpp
  src/library/init_module.cpp
  src/util/init_module.h
  src/util/name.cpp
Owners: @leodemoura, @Kha

move LEAN_EXPORT to header
  src/kernel/environment.h
  src/kernel/init_module.h
  src/library/compiler/init_module.h
  src/library/compiler/ir.h
  src/library/compiler/ir_interpreter.h
  src/library/constructions/init_module.h
  src/library/init_module.h
  src/library/module.h
  src/library/print.h
  src/library/profiling.h
  src/library/time_task.h
  src/library/util.h
  src/util/kvmap.h
  src/util/name.h
  src/util/option_declarations.h
  src/util/options.h
  src/util/path.h
Owners: @leodemoura, @Kha

fixes
  src/CMakeLists.txt
  src/lake/examples/reverse-ffi/Makefile
  src/stdlib.make.in
  tests/compiler/foreign/Makefile
Owners: @leodemoura, @Kha, @tydeu

fix
  src/CMakeLists.txt
Owners: @leodemoura, @Kha

fix
  nix/bootstrap.nix
  src/CMakeLists.txt
  src/stdlib.make.in
Owners: @leodemoura, @Kha

fix others
  nix/bootstrap.nix
  src/CMakeLists.txt
Owners: @leodemoura, @Kha

fix and debug
  nix/bootstrap.nix
  src/CMakeLists.txt
  src/stdlib.make.in
Owners: @leodemoura, @Kha

fix
  nix/bootstrap.nix
  src/stdlib.make.in
Owners: @leodemoura, @Kha

finish, maybe?
  src/CMakeLists.txt
  src/lean.mk.in
  src/stdlib.make.in
Owners: @leodemoura, @Kha

fix
  src/CMakeLists.txt
Owners: @leodemoura, @Kha

debug Emscripten
  src/stdlib.make.in
Owners: @leodemoura, @Kha

CI: count symbols
  .github/workflows/ci.yml
Owners: @Kha, @semorrison

CODEOWNERS:

# Code Owners
#
# Documents responsible people per component.
# Listed persons will automatically be asked by GitHub to review a PR touching these paths.
# If multiple names are listed, a review by any of them is considered sufficient by default.

/.github/ @Kha @semorrison
/src/ @leodemoura @Kha
/src/Init/IO.lean @joehendrix
/src/kernel/ @leodemoura
/src/lake/ @tydeu
/src/Lean/Compiler/ @leodemoura
/src/Lean/Parser/ @Kha
/src/Lean/PrettyPrinter/ @Kha
/src/Lean/Server/ @mhuisi
