Repository leanprover/lean-pr-releases, changes with the owners that CODEOWNERS names for each.
All owners: @Kha, @semorrison, @leodemoura, @joehendrix, @tydeu, @mhuisi

fix Linux32?
  src/bin/leanc.in
Owners: @leodemoura, @Kha

fix Nix
  nix/bootstrap.nix
Owners: none

fix and debug harder
  nix/bootstrap.nix
  src/stdlib.make.in
Owners: @leodemoura, @Kha

revert
  src/CMakeLists.txt
  src/stdlib.make.in
Owners: @leodemoura, @Kha

fix stage2
  src/CMakeLists.txt
  src/util/CMakeLists.txt
Owners: @leodemoura, @Kha

fix
  src/CMakeLists.txt
  src/stdlib.make.in
Owners: @leodemoura, @Kha

fix
  src/CMakeLists.txt
  src/shell/CMakeLists.txt
  src/stdlib.make.in
Owners: @leodemoura, @Kha

fix
  src/stdlib.make.in
Owners: @leodemoura, @Kha

fix
  nix/bootstrap.nix
  src/CMakeLists.txt
  src/shell/CMakeLists.txt
  src/stdlib.make.in
Owners: @leodemoura, @Kha

fix?
  src/bin/leanc.in
Owners: @leodemoura, @Kha

fix Nix
  nix/bootstrap.nix
Owners: none

fix
  src/stdlib.make.in
Owners: @leodemoura, @Kha

fix
  src/CMakeLists.txt
  src/shell/CMakeLists.txt
Owners: @leodemoura, @Kha

exclude Nix test case
  nix/bootstrap.nix
Owners: none

perf: inline `lean_inc_ref_cold`
  src/include/lean/lean.h
  src/runtime/object.cpp
Owners: @leodemoura, @Kha

perf: partially inline `lean_dec_ref_cold`
  src/include/lean/lean.h
  src/runtime/object.cpp
Owners: @leodemoura, @Kha

fix
  src/include/lean/lean.h
Owners: @leodemoura, @Kha

fix
  src/include/lean/lean.h
Owners: @leodemoura, @Kha

fix
  src/include/lean/lean.h
Owners: @leodemoura, @Kha

slight variation
  src/include/lean/lean.h
Owners: @leodemoura, @Kha

fix
  src/include/lean/lean.h
Owners: @leodemoura, @Kha

set high priority in monadic class instances
  doc/examples/widgets.lean
  doc/monads/transformers.lean
  src/Init/Control/Except.lean
  src/Init/Control/ExceptCps.lean
  src/Init/Prelude.lean
  src/Lean/Elab/Match.lean
  src/Lean/Elab/PreDefinition/Eqns.lean
  src/lake/Lake/Util/Cycle.lean
  src/lake/Lake/Util/EStateT.lean
  tests/lean/run/catchThe.lean
Owners: @leodemoura, @Kha, @tydeu

fix mysterious test
  tests/lean/run/scopedunifhint.lean
Owners: none

the rest
  src/Init/Control/Option.lean
  src/Init/Control/State.lean
  src/lake/Lake/Util/Cycle.lean
  src/lake/Lake/Util/EStateT.lean
  src/lake/Lake/Util/Store.lean
Owners: @leodemoura, @Kha, @tydeu

fix test
  tests/lean/run/scopedunifhint.lean
Owners: none

`EStateM` is not a monad transformer, so revert that change
  src/Init/Prelude.lean
Owners: @leodemoura, @Kha

add low prio to `MonadExcept.instOrElse`
  src/Init/Prelude.lean
Owners: @leodemoura, @Kha

chore: make List.toArray an abbrev for Array.mk
  src/Init/Core.lean
  src/Init/Data/Array/Basic.lean
  src/Init/Data/Array/BasicAux.lean
  src/Init/Data/Array/Lemmas.lean
  src/Init/Meta.lean
  src/Init/NotationExtra.lean
  src/Init/Prelude.lean
  src/Lean/Meta/AppBuilder.lean
  src/Lean/Util/Recognizers.lean
  src/runtime/object.cpp
Owners: @leodemoura, @Kha

move
  src/Init/Core.lean
  src/Init/Prelude.lean
Owners: @leodemoura, @Kha

cleanup
  src/Init/Data/Array/Lemmas.lean
Owners: @leodemoura, @Kha

fix simproc
  src/Lean/Meta/LitValues.lean
Owners: @leodemoura, @Kha

comments
  src/Lean/Meta/LitValues.lean
Owners: @leodemoura, @Kha

ToExpr
  src/Lean/ToExpr.lean
Owners: @leodemoura, @Kha

cleanup
  src/Init/Prelude.lean
Owners: @leodemoura, @Kha

.
  src/Init/Prelude.lean
Owners: @leodemoura, @Kha

clean up
  src/Init/Data/Array/Basic.lean
Owners: @leodemoura, @Kha

cleanup
  src/Init/Meta.lean
Owners: @leodemoura, @Kha

cleanup
  src/Init/NotationExtra.lean
Owners: @leodemoura, @Kha

cleanup
  src/Lean/Meta/LitValues.lean
Owners: @leodemoura, @Kha

cleanup
  src/Lean/ToExpr.lean
Owners: @leodemoura, @Kha

CODEOWNERS:

# Code Owners
#
# Documents responsible people per component.
# Listed persons will automatically be asked by GitHub to review a PR touching these paths.
# If multiple names are listed, a review by any of them is considered sufficient by default.

/.github/ @Kha @semorrison
/src/ @leodemoura @Kha
/src/Init/IO.lean @joehendrix
/src/kernel/ @leodemoura
/src/lake/ @tydeu
/src/Lean/Compiler/ @leodemoura
/src/Lean/Parser/ @Kha
/src/Lean/PrettyPrinter/ @Kha
/src/Lean/Server/ @mhuisi
